@page "/Account/Manage/GenerateRecoveryCodes"

@using Microsoft.AspNetCore.Identity
@using Modulum.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<GenerateRecoveryCodes> Logger

<PageTitle>Gere códigos de recuperação de autenticação de dois fatores (2FA)</PageTitle>

@if (recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@message" />
}
else
{
    <h3>Gere códigos de recuperação de autenticação de dois fatores (2FA)</h3>
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Coloque esses códigos em um local seguro.</strong>
        </p>
        <p>
            Se você perder seu dispositivo e não tiver os códigos de recuperação, perderá o acesso à sua conta.
        </p>
        <p>
            A geração de novos códigos de recuperação não altera as chaves usadas nos aplicativos autenticadores. Se você deseja alterar a chave
            usado em um aplicativo autenticador, você deve <a href="Account/Manage/ResetAuthenticator">redefina suas chaves do autenticador.</a>
        </p>
    </div>
    <div>
        <form @formname="generate-recovery-codes" @onsubmit="OnSubmitAsync" method="post">
            <AntiforgeryToken />
            <button class="btn btn-danger" type="submit">Gerar códigos de recuperação</button>
        </form>
    </div>
}

@code {
    private string? message;
    private ApplicationUser user = default!;
    private IEnumerable<string>? recoveryCodes;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var isTwoFactorEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        if (!isTwoFactorEnabled)
        {
            throw new InvalidOperationException("Não é possível gerar códigos de recuperação para o usuário porque ele não tem 2FA ativado.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var userId = await UserManager.GetUserIdAsync(user);
        recoveryCodes = await UserManager.GenerateNewTwoFactorRecoveryCodesAsync(user, 10);
        message = "Você gerou novos códigos de recuperação.";

        Logger.LogInformation("O usuário com ID '{UserId}' gerou novos códigos de recuperação 2FA.", userId);
    }
}
