@page "/Account/Manage/TwoFactorAuthentication"

@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Identity
@using Modulum.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Autenticação de dois fatores (2FA)</PageTitle>

<StatusMessage />
<h3>Autenticação de dois fatores (2FA)</h3>
@if (canTrack)
{
    if (is2faEnabled)
    {
        if (recoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>Você não tem mais códigos de recuperação.</strong>
                <p>You must <a href="Account/Manage/GenerateRecoveryCodes">gerar um novo conjunto de códigos de recuperação</a> antes de fazer login com um código de recuperação.</p>
            </div>
        }
        else if (recoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>Você ainda tem 1 código de recuperação.</strong>
                <p>Você pode <a href="Account/Manage/GenerateRecoveryCodes">gerar um novo conjunto de códigos de recuperação</a>.</p>
            </div>
        }
        else if (recoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>Você tem @recoveryCodesLeft códigos de recuperação restantes.</strong>
                <p>Você deve <a href="Account/Manage/GenerateRecoveryCodes">gerar um novo conjunto de códigos de recuperação</a>.</p>
            </div>
        }

        if (isMachineRemembered)
        {
            <form style="display: inline-block" @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                <AntiforgeryToken />
                <button type="submit" class="btn btn-primary">Esqueça este navegador</button>
            </form>
        }

        <a href="Account/Manage/Disable2fa" class="btn btn-primary">Desativar 2FA</a>
        <a href="Account/Manage/GenerateRecoveryCodes" class="btn btn-primary">Redefinir códigos de recuperação</a>
    }

    <h4>Aplicativo autenticador</h4>
    @if (!hasAuthenticator)
    {
        <a href="Account/Manage/EnableAuthenticator" class="btn btn-primary">Adicionar aplicativo autenticador</a>
    }
    else
    {
        <a href="Account/Manage/EnableAuthenticator" class="btn btn-primary">Configurar aplicativo autenticador</a>
        <a href="Account/Manage/ResetAuthenticator" class="btn btn-primary">Redefinir aplicativo autenticador</a>
    }
}
else
{
    <div class="alert alert-danger">
        <strong>A política de privacidade e de cookies não foram aceites.</strong>
        <p>Você deve aceitar a política antes de ativar a autenticação de dois fatores.</p>
    </div>
}

@code {
    private bool canTrack;
    private bool hasAuthenticator;
    private int recoveryCodesLeft;
    private bool is2faEnabled;
    private bool isMachineRemembered;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        canTrack = HttpContext.Features.Get<ITrackingConsentFeature>()?.CanTrack ?? true;
        hasAuthenticator = await UserManager.GetAuthenticatorKeyAsync(user) is not null;
        is2faEnabled = await UserManager.GetTwoFactorEnabledAsync(user);
        isMachineRemembered = await SignInManager.IsTwoFactorClientRememberedAsync(user);
        recoveryCodesLeft = await UserManager.CountRecoveryCodesAsync(user);
    }

    private async Task OnSubmitForgetBrowserAsync()
    {
        await SignInManager.ForgetTwoFactorClientAsync();

        RedirectManager.RedirectToCurrentPageWithStatus(
            "O navegador atual foi esquecido. Ao fazer login novamente neste navegador, será solicitado seu código 2fa.",
            HttpContext);
    }
}
