@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Autenticação</PageTitle>

<h1>Você esta autorizado</h1>

<AuthorizeView>
    Olá @context.User.Identity?.Name!
</AuthorizeView>
