@page "/counter"
@rendermode InteractiveServer

<PageTitle>Contador</PageTitle>

<h1>Contador</h1>

<p role="status">Contagem atual: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
