@page "/Error"
@using System.Diagnostics

<PageTitle>Erro</PageTitle>

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID da solicitação:</strong> <code>@RequestId</code>
    </p>
}

<h3>Modo de desenvolvimento</h3>
<p>
    Trocando para <strong>Desenvolvimento</strong> ambiente exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações confidenciais de exceções para usuários finais.
    Para depuração local, habilite o <strong>Desenvolvimento</strong> ambiente, definindo o <strong>ASPNETCORE_ENVIRONMENT</strong> variável de ambiente para <strong>Desenvolvimento</strong>
    e reiniciando o aplicativo.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
