@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Esqueci a confirmação da senha</PageTitle>

<h1>Esqueci a confirmação da senha</h1>
<p>
    Verifique seu e-mail para redefinir sua senha.
</p>
